.card {
    border: none;
}
textarea {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    resize: none;
}

table,
th,
td {
    position: relative;
}

.btn {
    margin: 1px;
}
